[submodule "Social Media/lib/forge-std"]
	path = Social Media/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Social Media/lib/openzeppelin-contracts"]
	path = Social Media/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
